/*--------------------
Import Google Fonts
--------------------*/

/* main font for menu. */
@import url(https://fonts.googleapis.com/css?family=Roboto:400|Raleway:200,300,400,500,700,900);



/*--------------------
1. General
--------------------*/

body {
  margin: 0px;
  font-family: "Raleway", Sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 200;
  letter-spacing: 0.4px;
  font-family: "Raleway", Sans-serif;
  color: #232323;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #252525;
}

a:hover,
a:focus,
a:active,
a.active {
  color: #ea8685;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  outline: 0;
}

::selection {
  text-shadow: none;
  background: #ea8685;
}

section {
  padding: 10vh 0 20vh;
}

/*--------------------
1.1 Reset bootstrap
--------------------*/

.row-0-gutter {
  margin-left: -13px;
  margin-right: -13px;
}

.col-0-gutter {
  padding-left: 0;
  padding-right: 0;
}

/*--------------------
2. Navigation
--------------------*/

.navbar-default {
  background-color: #f1f1f1;
  border-color: transparent;
}
.navbar-default .navbar-brand {
  color: #fff;
  /* padding: 5px; */
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
  color: #ea8685;
}
.navbar-default .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
}
.navbar-default .navbar-toggle {
  background-color: #ea8685;
  border-color: #ea8685;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ea8685;
}
.navbar-default .nav li a {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 10px 15px;
  padding: 0 0 2px 0;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
  border-color: #991919;
  outline: 0;
}

.navbar-default .navbar-nav > .active > a {
  border-radius: 0;
  color: #fff;
  background-color: #ea8685;
}
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #fec503;
}

@media (min-width: 780px) {
  .navbar-default {
    /* background-color: transparent; */
    /* padding: 50px 0 0px; */
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    /* transition: padding 0.3s; */
    /* border: 0; */
  }
  .navbar-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .navbar-brand {
    display: block;
  }
  .navbar-default .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    padding: 0px;
  }
  .navbar-default .navbar-nav > .active > a {
    border-radius: 3px;
  }
  .navbar-default.navbar-shrink {
    background-color: #222;
    padding: 10px 0;
  }
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 4px;
  }
  .modal-dialog {
    width: auto;
    margin: 0;
  }
}

/*--------------------
4. Sections
--------------------*/

.section-title {
  padding: 40px 0;
}

.section-title h2 {
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 600;
}

/*--------------------
4.1. About
--------------------*/

.mz-module-about {
  background-color: #3f3d3d;
  padding: 0;
  text-align: center;
  width: 15vw;
  height: auto;
  
}

.mz-module-about h3 {
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 2px;
  margin-bottom: 30px;
  word-break: break-all;
  margin-left: 1rem;
  margin-right: 1rem;
}
.ot-circle {
  text-align: center;
  color: #e8e8e8;
  margin: 20px 0;
  font-size: 37px;
}
#about, #portfolio, #team{
  display: flex;
  justify-content: center;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 80vw;
  }
.skills_collect {
  width: 60vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: baseline;
  
}
.skills_collect_flex{
  display: flex;
  width: 60vw;
  border-bottom: 3px solid #1f2839;
}
.skills_collect_flex:nth-child(4){
  border: none;
}
#skill_1 {
  grid-area: skill_1;
}
#skill_2 {
  grid-area: skill_2;
}
#skill_3 {
  grid-area: skill_3;
}
#skill_4 {
  grid-area: skill_4;
}
#content_1 {
  grid-area: content_1;
}
#content_2 {
  grid-area: content_2;
}
#content_3 {
  grid-area: content_3;
}
#content_4 {
  grid-area: content_4;
}
.skills_column {
  grid-area: content;
} */
.skills_collect::before {
  content: none;
}
.skills_column {
  background-color: white;
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
  width: 65vw;
  height: auto;
}
.skills_column img {
  width: auto;
  height: 12vh;
  padding: 2rem;
  display: block;
}
/*--------------------
4.2. Skills
--------------------*/

.skills-text h2 {
  margin: 0 0 30px;
}

/*--------------------
4.3. Portfolio
--------------------*/

figure.effect-bubba {
  position: relative;
  overflow: hidden;
  margin: 0 2rem 2rem 0;
  /* background: #726fb9; */
  text-align: center;
  cursor: pointer;
  /* width: 32vw;
  height: 37vh; */
  background: linear-gradient(
    rgba(109, 95, 82, 0.8) 0%,
    rgb(26, 24, 24) 40%,

    rgba(14, 11, 11, 0.8) 90%,
    rgba(97, 47, 47, 0.8) 100%

  );
  background-position-x: initial, 50%;
  background-position-y: initial, center;
  border-radius: 1rem;
  border: 1px solid #837a7a;
}

figcaption {
  position: absolute;
  top: 0;
  left: 0;
  /* width: 100%;
  height: 100%; */
}

.ot-portfolio-item figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}
.ot-portfolio-item figure figcaption,
.ot-portfolio-item figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* hj 프로젝트 배경이미지 스타일 설정 */


figure.effect-bubba img {
  opacity: 0.5;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
  width: 32vw;
  height: 41vh;
}

figure.effect-bubba:hover img {
  opacity: 0.2;
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  content: "";
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba figcaption::before {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}

figure.effect-bubba figcaption::after {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
}
/* hj 프로젝트 style 변경 */

figure.effect-bubba h2 {
  color: #ffffff;
  font-size: 4rem;
  font-weight: 900;
  text-transform: uppercase;
  padding-top: 25%;
  text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, -20px, 0);
  transform: translate3d(0, -20px, 0);
}

figure.effect-bubba p {
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  padding: 20px 2.5em;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0);
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

figure.effect-bubba:hover h2,
figure.effect-bubba:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/*--------------------
4.4. Dark Short section (counters, quote, etc)
--------------------*/

/*--------------------
4.5. Intro Text
--------------------*/

.intro-section {
  padding: 60px 0 0 0;
  margin: 0;
}

.intro-section .section-title {
  /*	padding: 0px 85px; */
  text-align: justify;
}

.intro-section p {
  font-size: 14px;
  color: #6b6b6b;
  font-weight: 500;
  line-height: 32px;
  padding: 47px;
  font-family: "Raleway";
  margin: 0;
  background-color: #f9f9f9;
}

/*--------------------
4.6. Archiving
--------------------*/

.archiving_flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.archiving_box {
  width: 26vw;
  height: 33vh;
  padding: 3rem;
  border-radius: 1rem;
  background-color: #f5f5f5;
  cursor: pointer;
  margin-bottom: 10px;
}
.archiving_box:first-child{
  margin-right: 2rem;
}
.archiving_box:hover {
  background-color: #dddada;
}
.archiving_image {
  width: 18rem;
  margin-bottom: 2rem;
}
.archiving_link {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.archiving_description {
  /* font-weight: 400; */
}
.archiving_description p {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  font-weight: 400;
}
.archiving_description ul {
  font-size: 1.6rem;
  line-height: 2.2rem;
  padding-left: 10px;
}
.team-item h3 {
  font-size: 25px;
  font-weight: 300;
  margin: 30px 0 20px;
  text-transform: uppercase;
}

.team-item .team-position {
  color: #565656;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
}

.team-item p {
  font-size: 13px;
  font-weight: 500;
  color: #848484;
  padding: 18px 30px 35px 30px;
  line-height: 24px;
}

/*--------------------
5. Footer
--------------------*/

footer {
  padding: 30px;
  background-color: #000;
}

footer p {
  color: #b7b7b7;
  margin: 0;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1.6px;
}

footer p a {
  color: #fff;
}

footer p a span {
  color: #ff9f46;
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: 700;
}

/*--------------------
6. Modal
--------------------*/

.modal{
  width: 70vw;
  left:15vw;
  top:10vh;
  bottom:10vh;
}
.modal-content {
  border-radius: 0;
  width: 70vw;

  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border:none;
  margin-bottom: 2rem;
  /* border-bottom: 1px solid #d2c2c2; */
}
.modal-header h4{
  padding-left:4rem;

}
.modal-header .close {
  font-size: 40px;
}
.modal-title {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
}

.modal-body {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-body p {
  margin: 30px 30px;
  color: #2d2d2d;
  text-align: justify;
  line-break: pre-line;
}
.modal-body img {
  width: 90%;
  height: 90%;
}

.modal-works {
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  margin: 3rem 3.5rem;
}

.modal-works span {
  /* background-color: #ea8685; */
  /* margin-right: 0.8rem; */
  margin-bottom: 0.8rem;

  /* padding: 5px 10px; */
  width: 10rem;
  height: 3rem;
}
.project_skills img{
  width: 9rem;
  height: 3rem;
  margin-right: 0.8rem;
  margin-bottom: 0.8rem;
}
.project_links{

  margin-left: 3rem;
  margin-right: 3rem;
  padding-top: 3rem;
  font-size: 1.8rem;
  font-weight: 400;
  border-top: 1px solid #e9dddd;
  border-bottom: 1px solid #e9dddd;

}
.project_links__box{
  margin-bottom: 1rem;
}
.project_links__box i{
  font-size: large;
}
.project_links__box span{
  display: inline-block;
  width: 8rem;
  font-weight: 700;
  padding:0 1rem;
}
/*--------------------
7. Components
--------------------*/

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  color: #fff;
  background-color: #fec503;
  border-color: #f6bf01;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.open .dropdown-toggle.btn {
  color: #fff;
  background-color: #fec503;
  border-color: #f6bf01;
}

.btn {
  display: inline-block;
  padding: 8px 20px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-xl {
  color: #fff;
  background-color: #726fb9;
  border-color: #726fb9;
  font-family: "Robot", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px;
}

/* Back to top button
---------------------------------- */
#back-top {
  position: fixed;
  z-index: 1000;
  bottom: 40px;
  right: 50px;
}
#back-top a {
  width: 60px;
  height: 60px;
  display: block;
  text-align: center;
  font: 11px/100% Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background: #a9a9b1;
  /* background color transition */
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}
#back-top a:hover {
  background: #ea8685;
}
/* arrow icon (span tag) */
#back-top i {
  margin-top: 15px;
  font-size: 28px;
}


/*
HJ working on this
----------------------------------------*/

.navbar {
  
  background-size: cover;
  padding-bottom: 20px;
  margin-bottom: 0;
  color: white;
  background-image: linear-gradient(
      rgba(104, 89, 66, 0.8) 0px,
      rgba(104, 69, 69, 0.8) 90%
    ),
    url('./images/laptop.jpg');

  width: fit-content;
  background-position-x: initial, 50%;
  background-position-y: initial, center;
  border-radius: 0;
}
.navbar .container {
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  padding: 2rem 4rem;
}
.container::before, .container::after{
  content: none;
}
.navbar-header::after, .navbar-header::before{
  content:none;
}
.navbar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.navbar-header .navbar-brand {
  margin-left: 0;
  float: none;
  width: max-content;
}
.navbar-brand h1 {
  font-size: 3.2rem;
  font-weight: 400;
  letter-spacing: 0;
}
.col-lg-12{
  display: flex;
  justify-content: center;
}
.section-title{
  display: flex;
  justify-content: center;
  font-size: 30px;
  width: 70vw;
 
}
.section-title i{
  font-size: 50px;
}


#nav_logo,
#navbar_right {
  color: #d2c2c2;
  font-weight: 500;
  font-size: 1.8vh;
}
#nav_logo {
  margin: 0;
  text-align: center;
  font-size: 3vh;
}
.container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px;
  margin: 20px;
}
.header_title,
.header_content {
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
}

.header_divider {
  width: 10.25rem;
  height: 0;
  margin: 3rem 0;
  border: none;
  border-top: 0.5rem solid #ea8685;
}
.header_description {
  font-size: 25px;
  color: #f5ecec;
  text-align: center;
  line-height: 4rem;
}

.project_flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.col-md-6 {
  width: 32vw;
  height: 43vh;
  /* margin-right: 4px; */

}

#portfolio {
  background-color: #ea8685;
}
.container {
  padding: 0;
}
#about {
  background-color: #1f2839;
}
#team {
  background-color: #b69d74;
}

#contact {
  background-color: #ea8685;
}
#skills_title{
  color: #f5f5ef;
}
.section-title{
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-title i{
  color:#f5f5ef;
 padding-right: 2rem;
 padding-top: 1rem;
}
.section-title h2{
  color: #f5f5ef;
  font-weight: 900;
}

#bold{
  font-weight: 700;
}




@media only screen and (min-width: 280px) and (max-width: 770px) {
  body{
    width: 100vw;
    /* position:static; */
  }
  .navbar{
    background-size: initial;
    border: none;
  }
  
  .navbar .container{
    padding:20px;
    flex-direction: column;
  }
  
  .navbar-header{
    width: 100vw;
    padding:0 20px;
  }
  .navbar-brand{
    height: auto;
    padding: 0;
    display: block;
  }
  .navbar-brand h1{
    font-size: 2.3rem;
  }
  .navbar-toggle{
    margin:0;
  }
  .container>.navbar-header{
    margin-right: 0;
    margin-left: 0;
  }
  .skills_collect{
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
  }
  .skills_collect_flex{
    width: 80vw;
  }

  .mz-module-about{
    height: auto;
    padding: 0;
    width: 15vw;
  }
  .mz-module-about h3{
    word-break: break-all;
    margin-left:1rem;
    margin-right: 1rem;
    /* word-wrap: break-word; */
  }
  .skills_column{
    display:flex;
    flex-wrap: wrap;
  }
  .project_grid{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .project_flex{
    width: 80vw;
    align-items: center;
  }
  .col-md-6, .ot-portfolio-item, figure.effect-bubba, .effect-bubba img{
    width: 80vw;
  }
  figure.effect-bubba{
    height: 33vh;
  }
  .col-md-6{
    height: 35vh;
  }
  figure.effect-bubba h2{
    font-size: 30px;
    margin: 0;
    font-weight: 700;
    /* padding-top: 0; */
  }
  figure.effect-bubba img{
    width: 80vw;
    height: 33vh;
  }
  
  .col-lg-12{
    display: flex;
    justify-content: center;
    padding: 0;
  }
  .section-title{
    display: flex;
    justify-content: center;
    width: 80vw;
  }
  .section-title h2{
    font-size: 35px;
  }
  .section-title i{
    font-size: 30px;
  }
  #team .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .archiving_flex{
    width: 80vw;
  }
  .archiving_box{
    width: 80vw;
    height: 33vh;
  }
  .archiving_box:first-child{
    margin-right: 0;
  }
  .archiving_image{
    width: 28vw;
    margin-bottom: 1.2vh;
  }
  .archiving_link{
    margin-bottom: 1vh;
  }
  .archiving_description p{
    font-size: 2vh;
  }
  .modal{
    width:80vw;
    left:10vw;
    top:10vh;
    bottom:10vh;
  }
  .modal-dialog{
    margin: 0;
    border: none;
  }
  .modal-content{
    width: auto;
    border: none;
  }
  #back-top {
    position: fixed;
    bottom: 10px;
    right: 30px;
  }
  #back-top a {
    width: 40px;
    height: 40px;
  }
  #back-top i {
    margin-top: 7px;
    font-size: 20px;
  }
}




